---
- name: Print the gateway for each host when defined
  ansible.builtin.debug:
    msg: System {{ inventory_hostname }} has gateway {{ ansible_default_ipv4.gateway }}
  when: ansible_default_ipv4.gateway is defined

- name: Display all variables/facts known for a host
  ansible.builtin.debug:
    var: hostvars[inventory_hostname]
    verbosity: 4

- name: Show configured default become user
  ansible.builtin.debug:
    msg: "{{ lookup('config', 'DEFAULT_BECOME_USER') }}"
- name: print out role paths
  ansible.builtin.debug:
    msg: "These are the configured role paths: {{ lookup('config', 'DEFAULT_ROLES_PATH') }}"

- name: find retry files, skip if missing that key
  ansible.builtin.find:
    paths: "{{ lookup('config', 'RETRY_FILES_SAVE_PATH') | default(playbook_dir, True) }}"
    patterns: "*.retry"

- name: see the colors
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{lookup('config', 'COLOR_OK', 'COLOR_CHANGED', 'COLOR_SKIP', wantlist=True)}}"

- name: show remote user and port for ssh connection
  ansible.builtin.debug:
    msg: '{{q("config",'
    plugin_type: "connection"
    plugin_name: "ssh"
    on_missing: "skip"
    cmd: '"remote_user", "port", , , )}}'
- name: show remote_tmp setting for shell (sh) plugin
  ansible.builtin.debug:
    msg: '{{q("config",'
    plugin_type: "shell"
    plugin_name: "sh"
    cmd: '"remote_tmp", , )}}'
