---
# This task is used to set very simple firewall rules, allowing
# everything from a set of hosts and denying everything but ssh
# connections from any other host.

- name: iptables | Set_fact default_policy=ACCEPT
  ansible.builtin.set_fact:
    default_policy: ACCEPT
  when: 'default_accept is defined and default_accept.lower() in ["1", "true"]'
  tags: iptables

- name: iptables | Set_fact default_policy=DROP
  ansible.builtin.set_fact:
    default_policy: DROP
  when: default_policy is not defined
  tags: iptables
